body {
    display: inline-grid;
    grid-template-columns: 33.333333vw 33.333333vw 33.333333vw;
    /* grid-template-rows: 33.333333vw 33.333333vw 33.333333vw 33.333333vw; */
}

html,
body {
    margin: 0
}


div {
    display: contents;


}

div#spacer {
    color: rebeccapurple;
}

button {
    aspect-ratio: 1/1;
}