body {
    display: flexbox;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
}

.spacer {
    grid-row: span 1;
    grid-column: 1/10;
    background-color: lightgray;
    text-indent: -100%;
    margin: 0;
    height: 4vh;
}

button {
    aspect-ratio: 1/1;
    flex: 0 0 33.333333333vw;
    max-height: 33.333333333vw;
    font-size: 10vw;
}

#score {
    text-align: end;
    font-size: 14vh;
    margin: 0;
    padding-right: 0.2em;
    margin-bottom: auto;
    margin-top: auto;
}

#game {
    font-size: inherit;
    padding-left: 1em;
    padding-right: 33.3333333333%;
}

#run {
    font-size: inherit;
    padding-left: 1em;
}

#gameButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 10vh;
}

#diceButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#title {
    background-color: lightgray;
    text-align: center;
    /* line-height: 100%; */
    /* font-size: 220.2222222%; */
    margin: 0;
    font-weight: bold;

}

.nopad {
    padding: 0;
    margin: 0;
}

.gameinfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    font-size: 3vh;
    justify-content: center;
}